
  .Home {
    text-align: center;
    padding-bottom: 455px;
    color: #FFFFFF;
    margin:-90px;
    margin-bottom: -150px;
    text-shadow: 2px 0px 0px black;
  }
    .Back{
      background: url("https://www.state.gov/wp-content/uploads/2019/04/Japan-2107x1406.jpg");
      background-position: center;
      background-size: cover;
      height: 110vh;
  }
    .Natuur {
      text-align: center;
        background: url("stones-2040340 (1).jpg");
      background-size: cover;
      color: #FFFFFF;
      margin:-90px;
      text-shadow: 2px 0px 0px black;
  }
  .Info2  {
  color: #333;
  padding-top:130px;
  padding-left: 50px;
  font-family: Arial;
  text-align: left;
}
  .Info22  {
  float: left;
  padding-top: 4%;
  width: 450px;
  height: 220px;
  padding: 10px;
  border: 10px solid #707070;
  margin-right: 80px;
  margin-left: 20px;
  background-color: #f2f2f2 ;
}
  .Info23  {
  float: left;
  padding-top: 4%;
  width: 450px;
  height: 220px;
  padding: 10px;
  border: 10px solid #707070;
  margin-right: 80px;
  background-color: #f2f2f2;
}
  .Info24  {
  float: left;
  padding-top: 4%;
  width: 450px;
  height: 220px;
  padding: 10px;
  border: 10px solid #707070;
  background-color: #f2f2f2;

}
  .Info25  {
  float: left;
  padding-top: 4%;
  width: 450px;
  height: 220px;
  padding: 10px;
  border: 10px solid #707070;
  margin-top: 35px;
  margin-right: 80px;
  margin-left: 280px;
  background-color: #f2f2f2 ;

}
  .Info26  {
  float: left;
  padding-top: 4%;
  width:450px;
  height: 220px;
  padding: 10px;
  border: 10px solid #707070;
  margin-right: 80px;
  margin-top: 35px;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}
    .Info3  {
    color: #333;
    padding-top:130px;
    text-align: left;
    padding-left: 50px;
    font-family: Arial;

  }
    .Info32  {
    float: left;
    padding-top: 4%;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: 10px solid #707070;
    margin-right: 80px;
    margin-left: 20px;
    background-color: #f2f2f2 ;
  }
    .Info33  {
    float: left;
    padding-top: 4%;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: 10px solid #707070;
    margin-right: 80px;
    background-color: #f2f2f2;
  }
    .Info34  {
    float: left;
    padding-top: 4%;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: 10px solid #707070;
    background-color: #f2f2f2;

  }
    .Info35  {
    float: left;
    padding-top: 4%;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: 10px solid #707070;
    margin-top: 35px;
    margin-right: 80px;
    margin-left: 325px;
    background-color: #f2f2f2 ;
  }
    .Info36  {
    float: left;
    padding-top: 4%;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: 10px solid #707070;
    margin-right: 80px;
    margin-top: 35px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
  }
  .Info4  {
  color: #333;
  padding-top:130px;
  text-align: left;
  padding-left: 50px;
  font-family: Arial;

}
  .Info42  {
  float: left;
  padding-top: 4%;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 10px solid #707070;
  margin-right: 80px;
  margin-left: 20px;
  background-color: #f2f2f2 ;
}
  .Info43  {
  float: left;
  padding-top: 4%;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 10px solid #707070;
  margin-right: 80px;
  background-color: #f2f2f2;
}
  .Info44  {
  float: left;
  padding-top: 4%;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 10px solid #707070;
  background-color: #f2f2f2;

}
  .Info45  {
  float: left;
  padding-top: 4%;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 10px solid #707070;
  margin-top: 35px;
  margin-right: 80px;
  margin-left: 325px;
  background-color: #f2f2f2 ;
}
  .Info46  {
  float: left;
  padding-top: 4%;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 10px solid;
  border-color: #707070;
  margin-right: 80px;
  margin-top: 35px;
  background-color: #f2f2f2;
  margin-bottom: 30px;

}
.Info5  {
color: #333;
padding-top:175px;
text-align: left;
padding-left: 175px;
padding-right: 175px;
font-family: Oxygen;

}
.Info52  {
float: left;
width: 1500px;
height: 375px;
border: 10px solid #707070;
margin-right: 80px;
margin-left: 20px;
background-color: #FFFFFF;
padding-bottom: 175px;
}
    .Kerama  {
      width: 25%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;

}
    .Fuji    {
      width: 40%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Monkey    {
      width: 60%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Bamboo   {
      width: 40%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Setokanai    {
      width: 40%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Kyoto    {
      width: 50%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;

}
    .Tokyo    {
      width: 50%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;

}
    .Osaka   {
      width: 50%;
      height: 80%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Nagoya   {
      width: 60%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Yokohama   {
      width: 55%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Sushi   {
      width: 40%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Tempura   {
      width: 65%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Tonkatsu   {
      width: 60%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Udon   {
      width: 45%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;
}
    .Ramen   {
      width: 40%;
      height: 75%;
      float: right;
      padding-top: 13px;
      padding-right: 7px;

}
    .Steden {
        text-align: center;
        background: url("https://kvab.be/sites/default/files/eventhero/people-walking-on-the-street-2506923.jpg");
        background-position: center;
        background-size: cover;
        color: #FFFFFF;
        margin:-90px;
        text-shadow: 2px 0px 0px black
  }
    .Cuisine {
          text-align: center;
              background: url("cuisine.jpg.jpg");
            background-position: center;
            background-size: cover;
            color: #FFFFFF;
            margin:-90px;
            text-shadow: 2px 0px 0px black
  }
    .Taal {
                text-align: center;
                  background: url("architecture-1869398.jpg");
                background-position: center;
                background-size: cover;

                color: white;
                margin:-90px;
                text-shadow: 3px 0px 0px black
  }
    .title {
      font-size: 30px;
      font-family: Poiret One;
      color:#c9171e;
      font-weight: 900;
      text-align: center;
}
.title2 {
  font-size: 40px;
  font-family: Poiret One;
  color:#c9171e;
  font-weight: 900;
  text-align: center;
  padding-bottom: 20px;
}
.table1  {
margin-top: 25px;
margin-left: 75px;
font-size: 20px;
float: left;
background-color: #FFFFFF;
margin-bottom: 35px;
}
.table2  {
  margin-top: 25px;
  margin-left: 60px;
  font-size: 20px;
  float: left;
  background-color: #FFFFFF;
  margin-bottom: 35px;

}
li {
  display: inline;
}
  p {
    text-align: left;
    font-size: 14px;
    font-family: oxygen;
    padding-right: 10px;
  }
  h1 {
    font-size: 130px;
    font-family: Babylonica;
    padding-top: 130px;
    padding-bottom: 60px;
    position: relative; top: 50px;
  }
  .content {
      text-align: center;
      position: relative; top:-350px;
    }
    .content a{
        font-size: 65px;
        font-family: Poiret One;
        background-color: transparent;
        border-color:white;
        color: #FFFFFF;
        border: 2px solid white;
        border-radius: 25px;
        padding: 10px;
  }
  * {
    text-decoration: none;
  }
  html {
      background: url("black.jpg.jpg");
      background-size: cover;
      padding-bottom: 0px;
      overflow-x: hidden;
  }
  .topnav {
    padding: 13px;

  }
.topnav {
background-color: #333;
overflow: hidden;
}
.topnavhome {
position: relative; top:-450px;
  }
.topnav a {
float: center;
color: #f2f2f2;
text-align: center;
padding: 14px 70px;
text-decoration: none;
font-size: 30px;
font-family: Poiret One;
}

.topnav a:hover {
background-color: #ddd;
color: black;
text-shadow: 2px 0px 0px #ddd;
}

.topnav a.active {
background-color: #c9171e;
color: white;
text-shadow: 2px 0px 0px #c9171e;
}

  li {
    display: inline;
    padding: 50px 10px 0px 30px;
  }
  article {
    max-width: 400px;
    padding: 60px;
    margin: 0 auto;

  }
@media (min-width: 1500px) {


}
